
.image img{
    height: 5vh;
    margin:20px;
    
}
.password a{
    
    
    text-decoration: none;
}
.box{

    padding-left: 30px;
    padding-right: 10px;
   box-sizing: content-box;
 border-style: ridge ;
margin: auto;
width: 25%;
box-shadow: 5px 5px 2px whitesmoke ;
border-radius: 10px;
border-color: rgba(240, 248, 255, 0.934);


}
 .profile{
    text-align: left;
    padding-left: 20px;
 }
.sign{
    font-size: 60px;
    font-style: bold;
    text-align: left;
    padding-left: 20px;
    
}
.join{
    text-align: center;
}
input[type = "text"],
input[type = "password"]{

width: 83%;
padding:10px;
border: 2px solid black;
padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

input[type = "submit 1"]{
    background-color: rgb(12, 12, 168);
    color: aliceblue;
    font-size: 15px;
}
.user{
    display: flex;
    word-spacing: 5px;
    text-align: center;
    margin-left: 10px;
}
input[type = "submit 1"],
input[type = "submit 3"],
input[type = "submit 2"]
{
    width : 87%;
    
    padding : 10px;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
}
input[type="submit 1"]:hover{
    background-color: black;
}